<div class="center hero-unit">
  <h1>New User</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
	<%= render 'form' %>

	<%= link_to 'Back', users_path, class: "btn btn-large btn-primary" %>
</div>






